#answers { padding-top: 2em; }
body {
    background-color: lightgrey;
    font-family: "Arial";
    color: #333;
 text-align: center;
}

.wikitable {
 font-size: .7em;
 text-align: left;
 color: #555;
 width: 100%;
 padding: 2em;
}

th {
  background: #777;
  color: #ccc;
  text-align: center;
}

#content {
 margin-left: auto;
 margin-right: auto;
 max-width: 800px;
 width: 100%;
 background: darkgrey;
}

hr {
  border: 0px;
  border-bottom: 1px solid #333;
  width: 60%;
}

input {
  height: 4em;
  width: 100%;
  letter-spacing: .3em;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1em solid #556;
  box-sizing: border-box;
 text-align: center;

}

#linkout {
 font-size: 2em;
 font-weight: bold;	
 color: #333;
 margin-bottom: 1em;
 display: inline-block;
 text-align: center;
 width: 100%;
}

#footer a {
 color: #333;
 font-weight: narrow;
}

