/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
*.swp
resources/public/js/compiled/
resources/public/major_system_prod.js
resources/public/major_system_prod.js.map
resources/public/prod-out/
vendor/
cmudict.0.7a
